.main {
  flex-grow: 1;
  background-color: #ffffff;
}

.grid-item {
  margin-bottom: 20px;
  border-radius: 16px;
  opacity: 0;
}

.grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.image__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.visible {
  opacity: 1;
  transition: 1s;
}
